<footer>
    <div class="f-info">
        <div class="f-info-socials"><a href="https://github.com/AyushPatel-Hub"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.instagram.com/_.clickvibes/?hl=en"><i class="fa-brands fa-square-instagram"></i></a>
        <a href="https://www.linkedin.com/in/ayushpatelcse/"><i class="fa-brands fa-linkedin"></i> </a>         
    </div>
        <div class="f-info-name"> &copy;Dengo Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>