<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dengo-Your Travel Partner</title>
 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kameron:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Patrick+Hand&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
    
    body::before {
  content: "";
  position: fixed;   
  top: 0;
  left: 0;
  width: 100%;        
  height: 100%;       
  z-index: -1;       
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
  url("https://images.unsplash.com/photo-1782199483843-49fb9416fa7d?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
}
.main{

  margin-top: 170px;
  text-align: center;
}
.main h1{
  font-family: Kameron;
  color: white; 
  font-size: 10rem;
  opacity: 0.7;
  margin-bottom: 70px;
}
.text{
  text-align: center;
  color: white;
  opacity: 0.7;
}
.btns{
  margin-top: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  column-gap: 2.2rem;
}
.btns a{
  text-decoration: none;
  color: #00AD83;
  font-size: 1.3rem;
  opacity: 0.7;

}
.f-info-links a {
    text-decoration: none;
    color: white;
}
.f-info-links a:hover {
    text-decoration: underline;
}
.f-info-links{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}
.f-info-socials a{
    text-decoration: none;
    color: white;
}
.f-info{
  margin-bottom: 0;
  padding-bottom: 0;
   margin-top: 250px;
    height: 8rem;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.f-info-socials{
    font-size: 1.25rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-info-socials i{
    margin-right: 1rem;
}
.f-info-name{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
 opacity: 0.6;
 text-align: center;
  color: white;
  
  padding: 0 0;
  margin-top: 4rem; /* Adds space so it doesn't hug the buttons too tightly */
  width: 100%;
  margin-bottom: 0;
}

  </style>
</head>
<body>

<div class="main">
  
  <h1 class="heading"><i class="fa-brands fa-dyalog" style="color: #00AD83;"></i>ENGO</h1>
</div>
<div class="text">
  <h2>
    "From cozy escapes to luxurious retreats, Dengo helps you find the perfect place to stay with comfort,<br>confidence, and ease."
  </h2>
</div>
<div class="btns">
  <a href="/listings">All Listings</a>
  <a href="/listings/new" style="color: white;">Add New Listings</a>
  <a href="/home">Home</a>
</div>
<div class="btns">
  <a href="/login">Login</a>
  <a href="/signup" style="color: white;">Sign Up</a>
</div>
<footer>
  <div class="f-info">
        <div class="f-info-socials"><a href="https://github.com/AyushPatel-Hub"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.instagram.com/_.clickvibes/?hl=en"><i class="fa-brands fa-square-instagram"></i></a>
        <a href="https://www.linkedin.com/in/ayushpatelcse/"><i class="fa-brands fa-linkedin"></i> </a>         
    </div>
        <div class="f-info-name"> &copy;Dengo Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>

</body>

</html>

