<% layout("/layouts/boilerplate") %>
<body>
    <div class="container">
        <h1>Privacy Policy</h1><br>
        <p>Effective Date: <b>July 15, 2026</b><br><br>

Welcome to Dengo(referred to as "we," "our," or "us"). We value your privacy and are committed to protecting your personal data. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our website  and use our services.<br>

Please read this policy carefully. If you do not agree with the terms of this privacy policy, please do not access the site.</p>
<h2>1. Information We Collect</h2>
<p><h4>A. For Guests (Travelers)</h4>
    <ul>
        <li><b>Booking Information:</b> Full name, email address, phone number, and mailing address..</li>
        <li><b>Travel Details:</b> Check-in/check-out dates, number of guests, hotel preferences, and special accommodation requests.</li>
        <li><b>FIdentification Data:</b> Passport numbers or national IDs, where strictly required by local laws or hotel partners for international check-ins.</li>
        <li><b>Financial Data:</b>Credit card or third-party payment details used to secure or pay for bookings. (Note: These are securely encrypted and processed by our third-party payment gateways).</li>
    </ul>
</p>
<p><h4>B. For Hosts (Hotels & Property Owners)</h4>
    <ul>
        <li><b>Business Details:</b> Hotel name, physical address, business registration numbers, and tax identification.</li>
        <li><b>Payout Details:</b> Bank account information or routing details to transfer guest payments to you.</li>
        <li><b>Listing Content:</b> Photos, descriptions, and amenities associated with your property.</li>
    </ul>
</p>
<p><h4>C. Automatically Collected Data (All Users)</h4>
    <ul>
        <li><b>Geolocation:</b> Your physical location (if you allow it) to help you find nearby hotels.</li>
        <li><b>Device & Usage Data:</b> IP addresses, browser types, search histories (e.g., destinations searched), and site interaction metrics.</li>
       
    </ul>
</p>
<h2>2. How We Use Your Information</h2>
<P>
    Having accurate information about you allows us to provide you with a smooth, efficient, and customized experience. Specifically, we may use information collected about you to:
    <ul>
        <li>Create and manage your dnego account.</li>
        <li>Process your transactions and deliver services/products.</li>
        <li>Email you regarding your account, order, or upcoming features/promotions (which you can opt out of at any time).</li>
        <li>Monitor and analyze usage and trends to improve your experience with our website.</li>
        <li>Respond to customer service requests and support needs.</li>
        <li>Prevent fraudulent transactions and monitor against theft or criminal activity.</li>
    </ul>
</P>
<h2>3. Disclosure of Your Information</h2>
<p>1-We do not sell, rent, or trade your personal information to third parties. We may share information we have collected about you in certain situations, including:<br><br>

2-By Law or to Protect Rights: If we believe the release of information about you is necessary to respond to legal process, to investigate or remedy potential violations of our policies, or to protect the rights, property, and safety of others.<br><br>

3-Third-Party Service Providers: We may share your information with third parties that perform services for us or on our behalf, including payment processing, data analysis, email delivery, hosting services, and customer service.</p>
<h2>4. Cookies and Tracking Technologies</h2>
<p>We may use cookies, web beacons, tracking pixels, and other tracking technologies on the site to help customize the site and improve your experience.
    <ul>
        <li>
            What are cookies? Small text files stored on your device.
        </li>
        <li><b>How to manage them:</b> Most browsers are set to accept cookies by default. You can remove or reject cookies in your browser settings, but be aware that such action could affect the availability and functionality of the site.</li>
    </ul>
</p>
<h2>5. Data Security</h2>
<p>We use administrative, technical, and physical security measures to help protect your personal information. While we have taken reasonable steps to secure the personal information you provide to us, please be aware that despite our efforts, no security measures are perfect or impenetrable, and no method of data transmission can be guaranteed against any interception or other type of misuse.</p>
<h2>6. Your Data Rights</h2>
<p>Depending on your location (such as the EU under GDPR or California under CCPA), you may have the following rights regarding your personal data:
    <ul>
        <li><b>The right to access:</b> You can request copies of your personal data.</li>
        <li><b>The right to rectification:</b> You can request that we correct any information you believe is inaccurate.</li>
        <li><b>The right to erasure:</b> You can request that we erase your personal data under certain conditions.</li>
        <li><b>The right to object/restrict processing:</b> You can object to our processing of your data under certain conditions.</li>
    </ul>
    To exercise any of these rights, please contact us using the information below.
</p>
<h2>7. Contact Us</h2>
<p>If you have questions or comments about this Privacy Policy, please contact us at:
    <ul>
        <li><B>Email:</B> dengotravel@gmail.com</li>
        <li><b>Address:</b> 123 Road, New York</li>
    </ul>
</p>
    </div>
</body>
